<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>sport-Field</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="addSportField()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!-- <div *ngFor="let item of sportFieldService.getAllSportFields() | async">
    <app-sport-field-item [sportField]="item" [id]="item.id"></app-sport-field-item>
  </div> -->


</ion-content>
